<!DOCTYPE html>
<html>
<head>
    <title>Monster Slayer</title>
    <script src="https://npmcdn.com/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="css/foundation.min.css">
    <link rel="stylesheet" href="css/app.css">
</head>
<body>
<div id="app">
    <section class="row">
        <div class="small-6 columns">
            <h1 class="text-center">YOU</h1>
            <div class="healthbar">
                <div :style="{width: playerHP + '%'}" class="healthbar text-center" style="background-color: green; margin: 0; color: white;">
                    {{ playerHP }}
                </div>
            </div>
        </div>
        <div class="small-6 columns">
            <h1 class="text-center">MONSTER</h1>
            <div class="healthbar">
                <div :style="{width: monsterHP + '%'}" class="healthbar text-center" style="background-color: green; margin: 0; color: white;">
                    {{ monsterHP }}
                </div>
            </div>
        </div>
    </section>
    <!-- Start Button -->
    <section v-if="gameStart" class="row controls">
        <div class="small-12 columns">
            <button @click="startGame" id="start-game">START NEW GAME</button>
        </div>
    </section>
    <!-- Controls Buttons -->
    <section v-else class="row controls">
        <div class="small-12 columns">
            <button @click="attack()" id="attack">ATTACK</button>
            <button @click="specialAttack()" id="special-attack">SPECIAL ATTACK</button>
            <button @click="heal()" id="heal">HEAL</button>
            <button @click="endGame" id="give-up">GIVE UP</button>
        </div>
    </section>
    <!-- Feedback -->
    <section v-if="!gameStart && events != ''" class="row log">
        <div class="small-12 columns">
            <ul>
                <!--li v-for="event in events">
                    <p :class="event.user == 'monster' ? 'monster-turn' : 'player-turn'">{{ event.movemant }}</p>
                </li-->
                <li v-for="(event, i) in events" :key="i">
                    <p v-if="event.target != ''" :class="event.user == 'monster' ? 'monster-turn' : 'player-turn'">
                        {{event.user}} hit {{event.target}} with {{event.damage}} points of damage! {{i}}
                    </p>
                    <p v-else class="player-turn">
                        Player heals himself with {{event.damage}}
                    </p>
                </li>
            </ul>
        </div>
    </section>
</div>
<script>
    new Vue({
        el:'#app',
        data:{
            gameStart: true,
            playerHP: 80,
            monsterHP: 80,
            events:[],
        },
        watch:{
          playerHP(value){
              let vm = this;
              if(value <= 0){
                  if(confirm('You lose!\nTry again?')){
                      vm.endGame();
                  }
              }
          },
            monsterHP(value){
                let vm = this;
                if(value <= 0){
                    if(confirm('You win!\nTry again?')){
                        vm.endGame();
                    }
                }
            }
        },
        methods:{
            startGame(){
                const vm = this;
                vm.gameStart = !vm.gameStart;
                vm.playerHP = 100;
                vm.monsterHP = 100
            },
            turn(playerHit, monsterHit){
                const vm = this;
                let monsterDamage = Math.floor((Math.random()* monsterHit) + 1);
                let playerDamage = Math.floor((Math.random()* playerHit) + 1);
                vm.playerHP     -= monsterDamage;
                vm.monsterHP    -= playerDamage;
                vm.events.push(
                    {
                        user:'player',
                        target: 'monster',
                        damage: playerDamage
                    },
                    {
                        user:'monster',
                        target: 'player',
                        damage: monsterDamage
                    });
            },
            attack(){
                let vm = this;
                vm.turn(10, 10);
            },
            specialAttack(){
                let vm = this;
                vm.turn(20, 10);
            },
            heal(){
                const vm = this;
                let monsterDamage = Math.floor((Math.random()*10) + 1);
                let playerDamage  = Math.floor((Math.random()*10) + 1);
                vm.playerHP    += monsterDamage;
                vm.playerHP    -= playerDamage;
                vm.events.push(
                    {
                        user:'heal',
                        target: '',
                        damage: playerDamage
                    },
                    {
                        user:'monster',
                        target: 'player',
                        damage: monsterDamage
                    })
            },
            endGame(){
                const vm = this;
                vm.gameStart = !vm.gameStart;
                vm.playerHP = 80;
                vm.monsterHP = 80;
                vm.events = []
            }
        }
    })
</script>
</body>
</html>